{% extends "base.html" %}
{% load cms_tags %}
{% load cms_tags static %}
{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}




	<section class="container">
{% placeholder "content" %}



	</section>

	<footer id="footer">

      <div class="container">

        <div class="row">

          <div class="col-md-12">
            <p class="copy">
              © 2017 Promotoria social personas con discapacidad, A .C.Todos los derechos reservados.
            </p>
          </div>

        </div><!-- .row -->

      </div><!-- .container -->

    </footer>
{% endblock content %}
